<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no	">
	<title>Junji</title>
	<!-- Llamamos a nuestos css que se encuentran en static-->
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/sweetalert2.css">
	<link rel="stylesheet" href="../css/material.min.css">
	<link rel="stylesheet" href="../css/material-design-iconic-font.min.css">
	<link rel="stylesheet" href="../css/main.css">

	<link rel="Shortcut Icon" type="image/x-icon" href="../assets/icons/book.ico" />
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">

</head>
<body>
	<!-- Navegador Lateral -->
	<section class="full-width navLateral">
		<div class="full-width navLateral-bg btn-menu"></div>
		<div class="full-width navLateral-body">
			<!-- Cuerpo del PANEL -->
			<div class="full-width navLateral-body-logo text-center tittles">
				<i class="zmdi zmdi-close btn-menu"></i> PANEL
			</div>
			<figure class="full-width navLateral-body-tittle-menu">
				<div>
					<!-- Cargamos nuestro avatar el cual será modificable desde el main.js -->
					<img alt="Avatar" class="img-responsive Perfil">
				</div>
				<figcaption>
					<!-- Cargamos el nombre del usuario cargado desde main.js -->
					<span><span><span id='nombre1'></span><br>
					<!-- Indicamos el tipo de menu -->
						<small>Administrador</small>
					</span>
				</figcaption>
			</figure>
			<nav class="full-width">
				<!-- Menú principal del navegador -->
				<ul class="full-width list-unstyle menu-principal">
				    <li class="full-width">
						<!-- link a la vista de requerimiento la cual se encuentra en views -->
						<a href="../requerimiento" class="full-width">
							<div class="navLateral-body-cl">
								<!-- Cargamos la imagen de la opción -->
								<i class="zmdi zmdi-store"></i>
							</div>
							<!-- Titulo de la opcion -->
							<div class="navLateral-body-cr">
								REQUERIMIENTO ESTABLECIMIENTO
							</div>
						</a>
					</li>
					<li class="full-width divider-menu-h"></li>
					<li class="full-width">
						<!-- link a la vista de establecimientos la cual se encuentra en views -->
						<a href="../compania" class="full-width">
							<div class="navLateral-body-cl">
								<i class="zmdi zmdi-case"></i>
							</div>
							<div class="navLateral-body-cr">
								ESTABLECIMIENTO
							</div>
							<span class="zmdi zmdi-chevron-left"></span>
						</a>
						
					</li>
					<li class="full-width divider-menu-h"></li>
					<li class="full-width">
						<!-- Opcion desplegable a traves de una lista -->
						<a href="#!" class="full-width btn-subMenu">
							<div class="navLateral-body-cl">
								<i class="zmdi zmdi-face"></i>
							</div>
							<div class="navLateral-body-cr">
								USUARIO
							</div>
							<span class="zmdi zmdi-chevron-left"></span>
						</a>
						<ul class="full-width menu-principal sub-menu-options">
							<li class="full-width">
								<!-- OPCION 1 DE USUARIO: link a la vista de lista de administradores la cual se encuentra en views -->
								<a href="../administrador" class="full-width">
									<div class="navLateral-body-cl">
										<i class="zmdi zmdi-account"></i>
									</div>
									<div class="navLateral-body-cr">
										ADMINISTRADOR
									</div>
								</a>
							</li>
							<li class="full-width">
								<!-- OPCION 2 DE USUARIO: link a la vista de lista de encargados la cual se encuentra en views -->
								<a href="../encargadoEstablecimiento" class="full-width">
									<div class="navLateral-body-cl">
										<i class="zmdi zmdi-accounts"></i>
									</div>
									<div class="navLateral-body-cr">
										ENCARGADO ESTABLECIMIENTO
									</div>
								</a>
							</li>
						</ul>
					</li>
					<li class="full-width divider-menu-h"></li>
					<li class="full-width">
						<!-- link a la vista de productos la cual se encuentra en views -->
						<a href="../producto" class="full-width">
							<div class="navLateral-body-cl">
								<i class="zmdi zmdi-washing-machine"></i>
							</div>
							<div class="navLateral-body-cr">
								PRODUCTO
							</div>
						</a>
					</li>
					<li class="full-width divider-menu-h"></li>
				    <li class="full-width">
						<!-- link a la vista de compras la cual se encuentra en views -->
						<a href="../compra" class="full-width">
							<div class="navLateral-body-cl">
								<i class="zmdi zmdi-shopping-cart"></i>
							</div>
							<div class="navLateral-body-cr">
								COMPRA
							</div>
						</a>
					</li>
				</ul>
			</nav><!-- Fin del navegador -->
		</div>
	</section >
	<!-- Opcion de resolución -->
	<div style="width: 1920px; height: 960px;">
		<section class="full-width pageContent" style="overflow: scroll">
			<!-- Navegador de arriba -->
			<div class="full-width navBar">
				<div class="full-width navBar-options">
					<i class="zmdi zmdi-swap btn-menu" id="btn-menu"></i>
					<!-- Opcion para mostrar u ocultar el panel -->
					<div class="mdl-tooltip" for="btn-menu">Mostrar / Ocultar</div>
					<nav class="navBar-options-list">
						<ul class="list-unstyle">
							<!-- btn-exit será la clase e id para cerrar la secion del usuario -->
							<li class="btn-exit" id="btn-exit">
								<i class="zmdi zmdi-power"></i>
								<div class="mdl-tooltip" for="btn-exit">Cerrar Sesión</div>
							</li>
							<!-- Carga el nombre del usuario desde el main.js -->
							<li class="text-condensedLight noLink" ><small id="nombre2"></small></li>
							<li class="noLink">
								<figure>
									<!-- Carga el avatar del usuario desde el main.js -->
									<img alt="Avatar" class="img-responsive Perfil">
								</figure>
							</li>
						</ul>
					</nav><!-- Fin del navegador -->
				</div>
			</div>
			<!-- Contenido de la vista -->
			<section class="full-width header-well">
				<div class="full-width header-well-icon">

				</div>
				<div class="full-width header-well-text container-fluid">
					<br>
					<br>
					<!-- Título -->
					<h1 class="all-tittles" >Lista de encargados</h1>
					<a href="agregarEncargado" type="button" class="btn btn-primary" style="position: relative; left: 71%;">Agregar encargado</a>
					<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<br/>
						<!-- Creamos tabla responsiva con Jquery datatables -->
						<div class="table-responsive">
						<form>
							<table
							id="tabla-encargado"
							class="lead text-dark table table-striped table-bordered text-center"
							style="width:100%"
							>
							<thead>
								<th>Usuario</th>
								<th>Correo</th>
								<th>Teléfono</th>
								<th>Nombre</th>
								<th>Apellido</th>
								<th>Actualizar</th>
								<th>Eliminar</th>
							</thead>
							<tbody></tbody>
							</table>
						</form>
						</div>
					</div>
					</div>
				</div>
			</section>
		</section>
	</div>
</body>
<!-- Llamadas a los scripts desde la carpeta static -->
<script src="js/utils_js/jquery.min.js"></script>
<script src="js/utils_js/bootstrap.bundle.min.js"></script>
<script>window.jQuery || document.write('<script src="js/views_js/jquery-1.11.2.min.js"><\/script>')</script>
<script src="js/views_js/material.min.js" ></script>
<script src="js/views_js/jquery.mCustomScrollbar.concat.min.js" ></script>
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="../js/utils_js/sb-admin-2.min.js"></script>
<script src="../js/utils_js/jquery.min.js"></script>
<script src="../js/utils_js/bootstrap.bundle.min.js"></script>
<script src="../css/jquery-ui.js"></script>
<script src="../js/utils_js/jquery.easing.min.js"></script>
<script src="../js/utils_js/jquery.dataTables.js"></script>
<script src="../js/utils_js/dataTables.bootstrap4.js"></script>
<script src="../js/utils_js/sb-admin.min.js"></script>
<script src="../js/utils_js/jquery.rut.js"></script>
<script src="../js/views_js/sweetalert2.min.js"></script>
<script src="js/views_js/main.js" ></script>
<script src="js/views_js/encargadoEstablecimiento.js" ></script>
</html>
