<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Inicio de sesión </title>

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div align= "center" style="position: relative; top: 100px">
            <img src="img/Logotipo_de_la_Junji.png"
            width= "178px" height= "156px"
            />
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="login-box">
			<div class="box-header">
				<h2>Inicio de sesión</h2>
			</div>
			<label for="username">Usuario</label>
			<br/>
			<input type="text" id="username" maxlength="10">
			<br/>
			<label for="password">Contraseña</label>
			<br/>
			<input type="password" id="password" maxlength="15">
			<br/>
			<button type="submit" id="ingresar">Ingresar</button>
			<br/>
			<a href="#"><p class="small">¿Olvidaste la contraseña?</p></a>
		</div>
		<div align ="center"style="position: relative; top: 300px">
		    <label for="text">Sitio desarollado por estudiantes de Ingeniería Civil en Computación e Informática de la Universidad Católica del Norte, Coquimbo.</label>
		</div>
	</div>
</body>
<script src="js/utils_js/jquery.min.js"></script>
<script src="js/utils_js/bootstrap.bundle.min.js"></script>
<script src="css/jquery-ui.js"></script>
<script src="js/utils_js/jquery.easing.min.js"></script>
<script src="js/utils_js/jquery.dataTables.js"></script>
<script src="js/utils_js/dataTables.bootstrap4.js"></script>
<script src="js/utils_js/sb-admin.min.js"></script>
<script src="js/utils_js/jquery.rut.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="js/views_js/login.js"></script>
</html>
