<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>JUNJI</title>
        <link rel="stylesheet" href="css/menu.css">
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <div class="logo">JUNJI</div>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li>
                    <a href="#">Requerimientos</a>
                    <ul>
                        <li><a href="#">Nuevo</a></li>   
                        <li><a href="#">Historial </a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Establecimiento</a>
                    <ul>
                        <li><a href="#">Información</a></li>   
                        <li><a href="#">Encargado</a></li>
                    </ul>
                </li>
                <li><a href="#">Contacto</a></li>
                <li><a href="../">Cerrar sesión</a></li>
            </ul>
            
        </nav>
    </body>
</html>